Repository andresibacache8-dotcom/acceso: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix: optimizar configuración Jest y GitHub Actions workflow
  .github/workflows/tests.yml
  package.json
Due: none

chore: agregar package-lock.json para npm ci en CI/CD
  .gitignore
  package-lock.json
Due: none

fix: ajustar workflow para Frontend tests como requerimiento principal
  .github/workflows/tests.yml
Due: none

fix: simplificar workflow para evitar errores de sintaxis bash
  .github/workflows/tests.yml
Due: none

Seguridad: Implementar JWT, Rate Limiting, Audit Logging y Security Headers
  api/auth-migrated.php
  api/core/AuditLogger.php
  api/core/AuthMiddleware.php
  api/core/JwtHandler.php
  api/core/RateLimiter.php
  api/core/SecurityHeaders.php
  tests/backend/AuthSecurityTest.php
  tests/backend/SecurityCoreTest.php
  tests/integration/AuthJwtTest.php
Due: backend

Seguridad: Aplicar JWT authentication a todas las 18 APIs
  api/buscar_personal-migrated.php
  api/comision-migrated.php
  api/control-personal-status-migrated.php
  api/dashboard-migrated.php
  api/dashboard_mock-migrated.php
  api/empresa_empleados-migrated.php
  api/empresas-migrated.php
  api/guardia-servicio-migrated.php
  api/log_access-migrated.php
  api/log_clarified_access-migrated.php
  api/personal-migrated.php
  api/portico-migrated.php
  api/reportes-migrated.php
  api/users-migrated.php
  api/vehiculo_historial-migrated.php
  api/vehiculos-migrated.php
  api/visitas-migrated.php
Due: backend

JWT Frontend Integration: AuthService + Token Refresh + Logout
  .env.example
  .phpunit.result.cache
  api/auth-migrated.php
  api/auth-refresh.php
  js/login.js
  js/services/AuthService.js
  js/utils/api.js
  login.html
Due: backend, frontend

Documentación API: Swagger/OpenAPI + Guía Completa
  api/swagger.json
  docs/API_GUIDE.md
  docs/api-docs.html
Due: backend

Feat: Add comprehensive Cypress E2E tests for all modules
  .github/workflows/tests.yml
  cypress.config.js
  cypress/e2e/auth.cy.js
  cypress/e2e/dashboard.cy.js
  cypress/e2e/personal.cy.js
  cypress/e2e/vehiculos.cy.js
  cypress/e2e/visitas.cy.js
  cypress/support/commands.js
  cypress/support/e2e.js
  package.json
Due: none

Path conditions:
  backend: any of: api/, config/, but not: tests, node_modules, vendor
  frontend: any of: js/, but not: tests, node_modules, vendor
